NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
SUPABASE_SECRET_KEY=your-supabase-secret-key
NEXT_PUBLIC_SITE_URL=your-site-url

# Paddle
PADDLE_API_KEY=your-paddle-api-key
PADDLE_WEBHOOK_SECRET=your-paddle-webhook-secret
PADDLE_BASIC_PRICE_ID=your-paddle-basic-monthly-price-id
PADDLE_BASIC_YEARLY_PRICE_ID=your-paddle-basic-yearly-price-id
PADDLE_GROWTH_PRICE_ID=your-paddle-growth-monthly-price-id
PADDLE_GROWTH_YEARLY_PRICE_ID=your-paddle-growth-yearly-price-id
PADDLE_PRO_PRICE_ID=your-paddle-pro-monthly-price-id
PADDLE_PRO_YEARLY_PRICE_ID=your-paddle-pro-yearly-price-id
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=your-paddle-client-token
NEXT_PUBLIC_PADDLE_ENV=sandbox

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your-turnstile-site-key
TURNSTILE_SECRET_KEY=your-turnstile-secret-key

# Mailgun
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain
MAILGUN_FROM_EMAIL=LaunchKit Team <team@example.com>

# Cron
CRON_SECRET=your-cron-secret

# TELEGRAM
TELEGRAM_BOT_TOKEN=telegram-bot-token